<!doctype html>

<html>
<head>
	<title>Stories</title>
</head>

<body>
<div class="container">
	<h1>Stories</h1>

	<!-- <div>
		<img src="http://lorempixel.com/500/500/people"></img>
		<h3>Fake friend</h3>
		<p>All my friends are imaginary.</p>
	</div> -->

	{{#each stories}}
	<div class="story">
		<img src="{{imageURL}}" class="img-responsive img-rounded"></img>
		<h3><div class="titles"><a href="#">{{title}}</a></div></h3>
		<p>{{location}}</p>
		<p>{{story}}</p>
		<hr>
	</div>
	{{/each}}

	<h3>New story added!</h3>
	<p><a href="/">Go back to stories</a></p>

	<form id="addStoryForm" role="form" method="get" action="/add">
		<h3>Add a story</h3>
	    <div class="form-group">
	      <p for="enter-title">Title:</p>
	      <input type="text" class="form-control" id="enter-title" placeholder="Add a title!" name="title">
	    </div>
	    <div class="form-group">
	      <p for="enter-location">Location:</p>
	      <input type="text" class="form-control" id="enter-location" placeholder="Where were you?" name="location">
	    </div>
	    <div class="form-group">
	      <p for="enter-story">Story:</p>
	      <textarea type="text" class="form-control" id="enter-story" placeholder="Your story" name="story"></textarea>
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the story"></input>
	</form>

</div>
</body>
</html>
