<!DOCTYPE html>
<html>
<head>

	<title>Explore</title>	
	<link href="../css/simplepop.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">
  <section class="sec-main">
    <div class="overlay">
      <div class="center">
        <!--<h1 class="logo">Posli</h1>-->
        <h1>GeoStories</h1>
	<h2>Explore Your World.</h2>
        <!--<form id="js-form" action="#" method="post">
          <input id="js-mail" type="email" placeholder="Input Email for Beta" required />
          <button id="js-button" class="button" type="submit" value="Request" role="button">Request</button>
        </form>-->
      </div>
      <header id="js-nav" role="banner">
        <nav role="navigation">
          <ul class="nav">
            <li><a href="#sec-about">About</a></li>
            <li><a href="#sec-features">Map</a></li>
            <li><a href="#footer">Post</a></li>
	    <li><a href="#footer2">Read</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </section>
  <!--<section class="sec-task-mngmt2">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <h1>What is GeoStories?</h1>
          <p>GeoStories is an application with the intention of letting people tell and read stories about places they've traveled to or are planning to travel to in the future.</p>
          <button class="button" type="button" value="Get in line" role="button">Get in line</button>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </section>
  <section class="sec-everywhere">
    <div class="container">
      <div class="row">
        <h1>Everywhere</h1>
      </div>
      <div class="row">
        <p>Android, iOS, Mac, PC, Web... work everywhere you want to. You’ll be always ready with our responsive web app and iOS and Android app.</p>
      </div>
      <div class="row row-list">
        <ul class="everywhere-list">
          <li>
            <div class="col-3">
              <div class="img-container">
                <img src="http://i.imgur.com/6eUlWxX.png" alt="Mobile Apps icons" />
              </div>
              <h2>Mobile Apps</h2>
              <p>iOS, Android</p>
            </div>
          </li>
          <li>
            <div class="col-3">
              <div class="img-container">
                <img src="http://i.imgur.com/1OelN8R.png" alt="Desktop App icons" />
              </div>
              <h2>Desktop App</h2>
              <p>Mac, PC</p>
            </div>
          </li>
          <li>
            <div class="col-3">
              <div class="img-container">
                <img src="http://i.imgur.com/6yWCSMm.png" alt="Web Apps icons" />
              </div>
              <h2>Web Apps</h2>
              <p>Responsive website</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="sec-task-mngmt">
    <div class="container">
      <div class="row">
        <div class="col-2 js-task-two">
          <h1>Task Management</h1>
          <p>Give tasks directly through instant messaging<br/> and solve them in one time. Don't jump between messengeres and task manageres,<br/> stay productive in Posli.</p>
        </div>
        <div class="col-2 js-task-one"></div>
      </div>
    </div>
  </section>-->
  <section id="sec-about" class="sec-features">
    <div class="container">
      <div class="row">
          <article class="features-post">
            <img src="../images/suitcases.jpg"/>
            <h1>About Us</h1>
            <p>GeoStories is a web-base appplication designed with the traveling person's thoughts in mind. This application allows everyday people from around the world to view stories written about the places they want to travel by people who have actually been there. We also allows for those travelers to share their experiences in story form, filling our application with unbiased, colorful stories helping future travels to learn more about potnetial travel destinations.</p>
          </article>
      </div>
    </div>
  </section>

  <section id="sec-features" class="sec-features">
    <div class="container">
      <div class="row">
          <article class="features-post">
	    <a href="practiceMap"/>
            <img src="../images/noaa_globe-oceans.jpg"/>
	    </a>
            <h1>See Our Map</h1>
            <p>Our map is the center piece of our application. It holds the content for all the stories people have posted from around the world. You can move around the map and choose to see a story from anywhere you desire. Want to know what its like in the heart of Paris? How about Tokyo? Click the image above to see for yourself!</p>
          </article>
      </div>
    </div>
  </section>

  <section id="footer" class="sec-features">
    <div class="container">
      <div class="row">
          <article class="features-post">
	    <a href="storiesForum"/>
            <img src="../images/newyork1.jpg"/>
            </a>
	    <h1>Post a Story</h1>
            <p>Do you want tell your story to the world? You can do that with GeoStories, just like a postcard. Clink the image above and you'll be able to write your own story about the location you are at right now.</p>
          </article>
      </div>
    </div>
  </section>
  <section id="footer2" class="sec-features">
    <div class="container">
      <div class="row">
          <article class="features-post">
	    <a href="add"/>
            <img src="../images/journal1.jpg"/>
            </a>
	    <h1>Read Some Stories</h1>
            <p>Care to explore the world from the comfort of your own home? Or read exotic stories from across the world? Just like reading a travel journal, click the image above to read some stories other users have written.</p>
          </article>
      </div>
    </div>
  </section>

  <!--
  <footer id="footer">
    <div class="container">
      <div class="row">
        <h1>Sign up for beta</h1>
      </div>
      <div class="row">
        <form id="js-form" action="#" method="post">
          <input id="js-mail" type="email" name="mail" placeholder="Your mail" required />
          <button id="js-button" class="button" type="submit" value="Request" role="button">Request</button>
        </form>
      </div>
      <div class="row">
        <p>Sign Up for beta right now and be one of the firsts. With Posli you fix your workflow and become more efficient.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Share on <a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-twitter"></a></p>
        </div>
      </div>
    </div>
  </footer>-->
</div>

	
	<script src="../js/simplepop.js"></script>

</body>
</html>
